<div class="section has-background-grey-lighter">
  <div class="container is-fluid">
    <div class="columns is-centered">
      <div class="column">
        
        <div class="card">
          <div class="card-content">
            <div class="has-text-centered is-size-3"><%= link_to @event.title.humanize %></div>
            
            <div class="columns">
              <div class="column">
                <div class="has-text-left is-size-9 mt-2 is-italic">On <%= @event.location.humanize %> at <%= @event.date.to_formatted_s(:short) %></div>
              </div>
              <div class="column">
                <div class="has-text-right is-size-9 mt-2 is-italic">Created by: <%= @event.creator.username.humanize %></div>
              </div>
            </div>
            <div class="has-text-left is-size-5 mt-5"><%= @event.description.humanize %></div>
          </div>
        </div>
      
      </div>
      <div class="column">
        <p class="is-size-3 has-text-centered">Who joined this event?</p>
        <div class="has-text-centered is-size-5 mt-5">
            <% @event.attendees.order(:username).each do |attendee| %>
              <%= attendee.username.humanize %> <br>
            <% end %>
        </div>
      </div>
    </div>
    <% if current_user == @event.creator%>
      <%= link_to 'Edit this event', edit_event_path(@event) %> |
    <% end %>
      <%= link_to 'Back', events_path %>
  </div>
</div>


